<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome do livro</mat-label>
      <input matInput placeholder="Ex: O Alquimista" value="">
    </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome do Autor</mat-label>
    <input matInput placeholder="Ex: Paulo Coelho" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Editora</mat-label>
    <input matInput placeholder="Ex: Companhia das Letras" value="">
  </mat-form-field>
  <br>
  <button class="btn btn-outline-primary btn-block btn-sm" href="#">Pesquisar</button>
  </form>